.profile-img{
   
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: 2.5rem;
    right: 4rem;
    object-fit: cover;
}

#intro{
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.intro-content{
    height: 70vh;
    width: 80vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hello{
    font-size: 2rem;
}
.intro-name{
    background: linear-gradient(267deg,#da7c25 0.36%, #B923e1); //Définition d'un arrière-plan avec un dégradé linéaire
 background-clip: text; // Applique le dégradé uniquement au texte
 color: transparent; // texte transparent pour rendre le dégradé visible 
}
.intro-paragraph{
    font-size: medium;
    font-weight: 300;
}
.btn-contact{
    background: linear-gradient(267deg,#da7c25 0.36%, #B923e1);
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    
   
}
.collab-icon{
    margin-right: 0.4rem;
    font-size: 1.5rem;
}

@media screen and (max-width:840px) {
    .profile-img{
        right:-8vw
    }
    .intro-content{
        font-size: 10vw;
    }
    .hello{
        font-size: 4.5vw;
    }
}